# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

############################
# 2. Eclipse / STS
############################
.metadata/
.classpath
.project
.springBeans
.apt_generated/
target/
.settings/
.idea/

# API KEY 설정 파일 제외
application-API-KEY.properties

# 이미지 업로드 경로 관련 파일 제외
application.properties
root-context.xml
servlet-context.xml