@charset "UTF-8";
/* ad_productList.css */

body {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

/* 컨텐츠 시작 */
#container {
   width: 100%;
   margin: 0 auto;
}

#contents {
   max-width: 1100px;
   min-width: 1100px;
   width: 100%;
   margin: 0 auto;
   min-height: 800px;
}

#section2 {
   display: flex;      /* 한줄(수평)로 배치 */
   justify-content: space-between;
}
/* 컨텐츠 종료 */

/* 좌측메뉴 시작 */
#left {
   width: 12%;
   margin-top: 20px;
   height: 100%;
   border-radius: 10px;
   margin-right: 50px;
}

.left_inside {
   background: #F3F3F3;
   margin: 0 0 0 0;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 1px 2px 6px 4px rgb(0, 0, 0, 0.2);
   text-align: left;  
}

.left_menubar {
   margin-left: -35px;
}

.left_menubar  li {
   list-style: none;
   align: left;
}

.left_menubar  li  a {
   color: black;
   text-decoration: none;
}
/* 좌측메뉴 종료 */
-----------------------------

/* 우측내용 시작 */
#right {
   width: 88%;
}

.table_div {
margin-top: 30px;
}

.table_div  table {
   border-collapse: collapse;
   width: 800px; 
   align: center;
}

.table_div  table th {
   background: #f39c12;
}

.table_div  table th, td {
   height: 50px;
   border: 1px solid #9BAEE4;
   padding-left: 2px;
   text-align: center;
}

.table_div a {
   color: black;
   text-decoration: none;
}

.table_div a:hover {
   color: #f39c12;
   text-decoration: underline;
}

.input {
   width: 550px;
   height: 40px;
   border: 1px solid black;
   padding: 0 0 0 10px;
}

.inputButton {
   background: dark-yellow;
   font-size: 16px;
   padding: 5px 10px 5px 10px;
}


/* 우측내용 종료*/

/* 페이징 시작*/
.table_div .pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.table_div .pagination li {
    margin: 0 5px;
}

.table_div .pagination a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
}

.table_div .pagination a:hover {
    background-color: #f1c40f;
    color: #fff;
    border-color: #f39c12;
}

.table_div .pagination .active {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}

/* 페이징 종료*/